<?xml version="1.0" encoding="utf-8" standalone="no"?><COMMON>
<PROXYLOGIN>
<ADDRESS>http://3f071b45.dsn.ww311.com</ADDRESS>
<ACCOUNT>abb100</ACCOUNT>
<PASSWORD>aaa1111</PASSWORD>
</PROXYLOGIN>
<BETLOGIN>
<ADDRESS>http://835b1195.dsn.ww311.com</ADDRESS>
<ACCOUNT>hgg2277</ACCOUNT>
<PASSWORD>abcd1234</PASSWORD>
</BETLOGIN>
<PATH>
<TESSPATH>C:\Program Files (x86)\Tesseract-OCR</TESSPATH>
</PATH>
</COMMON>