<?xml version="1.0" encoding="utf-8" standalone="no"?><COMMON>
<SERVER>
<ADDRESS>119.28.5.156</ADDRESS>
<PORT>12321</PORT>
</SERVER>
<PROXYLOGIN>
<ADDRESS>http://bff5907f.dsn.qq168.ws</ADDRESS>
<ADDRESS2>http://bff5907f.dsn.qq168.ws</ADDRESS2>
<ADDRESS1>http://3f071b45.dsn.qq168.ws</ADDRESS1>
<ADDRESS3>http://442f2386.dsn.qq168.ws</ADDRESS3>
<ACCOUNT>abb100</ACCOUNT>
<PASSWORD>aaa2222</PASSWORD>
</PROXYLOGIN>
<BETLOGIN>
<ADDRESS>http://7877555982.365.qq168.ws</ADDRESS>
<ADDRESS2>http://9117125614.365.qq168.ws</ADDRESS2>
<ADDRESS1>http://7877555982.365.qq168.ws</ADDRESS1>
<ADDRESS3>http://0740485961.365.qq168.ws</ADDRESS3>
<ADDRESS4>http://6953583056.365.qq168.ws</ADDRESS4>
<ACCOUNT>n2a1</ACCOUNT>
<PASSWORD>aaa111</PASSWORD>
</BETLOGIN>
<WEICAIBETLOGIN>
<ADDRESS>http://52.192.18.67</ADDRESS>
<ACCOUNT>wc9999</ACCOUNT>
<PASSWORD>9999Aaaa</PASSWORD>
</WEICAIBETLOGIN>
<TIANCAIBETLOGIN>
<ADDRESS>http://yy1888.net</ADDRESS>
<ACCOUNT>gg911</ACCOUNT>
<PASSWORD>asdf1581</PASSWORD>
</TIANCAIBETLOGIN>
<LANYANGBETLOGIN>
<ADDRESS>http://www.ok1688.info</ADDRESS>
<ACCOUNT>g1a1</ACCOUNT>
<PASSWORD>aaa222</PASSWORD>
</LANYANGBETLOGIN>
<PATH>
<TESSPATH>C:\Program Files (x86)\Tesseract-OCR</TESSPATH>
</PATH>
</COMMON>